@use "@styles/_mixins.module.scss" as *;
@use "@styles/_variable.module.scss" as *;
.btn {
  @include btn(200px, 50px, 5px, $primary_color);
  background-color: #333;
  color: aliceblue;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: $white_color;
  color: $primary_color;
  border: 1px solid $primary_color;
}
