@use "@styles/_mixins.module.scss" as *;
@use "@styles/_variable.module.scss" as *;
.container {
  background-image: url(../../assets/icon/images/bgCountDown.png);
  background-size: cover;
  height: 500px;
  width: calc(100% / 2);
  background-repeat: no-repeat;
}
.containerTimer {
  @include flex_box_custom(center, center, 10px);
}
.title {
  color: rgb(245, 131, 103);
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
.boxBtn {
  text-align: center;
  margin-top: 20px;
}
