@use "@styles/_mixins.module.scss" as *;
@use "@styles/_variable.module.scss" as *;
.box {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 280px;
}
.title {
  font-size: 18px;
  color: $secondary_color;
}
