@use "@styles/_mixins.module.scss" as *;
@use "@styles/_variable.module.scss" as *;
.container {
  @include flex_box_custom(center, center, 0px);
  margin: 20px 0px 25px;
}
.headline {
  height: 2px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 10px;
}
.containerMiddleBox {
  @include flex_box_custom(center, center, 0px);
  width: 70%;
  flex-direction: column;
  padding: 0px 50px;
  line-height: 0px;
}
.des {
  font-size: 13px;
  color: $thr_color;
  text-transform: uppercase;
}
.title {
  font-size: 20px;
  color: $primary_color;
}
